<section id="header">
  <nav class="navbar navbar-inverse top_header">
      <div class="container-fluid">
      <div class="navbar-header site_name">
          {{page.header}}
      </div>
        <div class="navbar-header icon">
            <button type="button" class="navbar-toggle x collapsed" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>    
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
          {{page.primary_menu}}
      </div>		    
      </div>
  </nav>
</section>

	{{ page.content }}

	{# <section id="brain-banner">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-sm-12 banner-inner-txt">
					<h2>Become A Sponser</h2>
					<p>Do you have valuable expertise to offer healthcare technology company owners & CEOs as they consider future growth and exit opportunities? Healthtech Exits is an outlet devoted to providing these key decision-makers with information they need to guide their companies. If you have something to contribute to this process, contact us to learn more about becoming a sponsor.</p>
				</div>
			</div>
		</div>	
	</section>	 #}

{# <section>
  <div class="container board-advisors-details">				
  <div class="row">
    <h3>Dave Levine</h3>
    <div class="col-md-4 col-sm-4">
      <img class="img-responsive img-circle" src="{{ base_path ~ directory }}/images/layer-64.jpg">
      <div class="social-icons">
        <a href=""><img src="{{ base_path ~ directory }}/images/layer-672.png"></a>
        <a href=""><img src="{{ base_path ~ directory }}/images/layer-631.png"></a>
        <a href=""><img src="{{ base_path ~ directory }}/images/layer-651.png"></a>
        <a href=""><img src="{{ base_path ~ directory }}/images/layer-661.png"></a>
      </div>
    </div>
    <div class="col-md-8 col-sm-8 padd_00">
      <p>Dave is a senior dealmaker with Corum Group, leading the sale of healthtech and other technology companies. He joined Corum in 2015, bringing has a diverse background in technology and life sciences.  As an executive and entrepreneur, Dave has been operating and investing in companies sitting at the convergence of commerce and ecommerce as well as innovative life science businesses for over 25 years. </p>
      <p>Dave has been on both sides of the mergers and acquisitions table, having sold a life science technology company, facilitated sell side and buy side technology transactions and has scaled multiple technology companies globally in ecommerce, life sciences, and innovation intelligence markets.</p>
      <p>Dave has also led a WFS <a href="">Healthtech market spotlight webcast.</a> </p>
    </div>
  </div>
  </div>
</section> #}

{# <section>
		<div class="container text-center contact-us">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<img class="img-responsive" src="{{ base_path ~ directory }}/images/layer-411.png">
					<h3>Phone Number</h3>
					<p>123-456-789</p>
				</div>
				<div class="col-md-6 col-sm-6">
					<img class="img-responsive" src="{{ base_path ~ directory }}/images/layer-421.png">
					<h3>Email Address </h3>
					<p>info@healthtechexits.com</p>
				</div>
			</div>
		</div>
</section> #}

{# <section id="content-bg-color">
		<div class="container content">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<img class="img-responsive" src="images/Layer-12.png">
				</div>
				<div class="col-md-6 col-sm-6">
					<h1>Be a Winner in the <br>Artificial Intelligence M&A Wave</h1>
					<p>Our goal is to provide relevant records and decision-making tools to serve the AI technology sector. We want to be a resource for executives and investors in AI technology companies who are considering their strategic growth and exit options in today’s environment.</p>
				</div>
			</div>
		</div>
</section> #}

	{# <section>
		<div class="container sponsor-form">
			<div class="row">
				<div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
					<div class="form-box-color">
						<h3 class="text-center">Fill the below  form to learn more about becoming a sponsor</h3>
						<form>
						  <div class="form-group">
						    <input type="name" class="form-control" placeholder="Name" id="name">
						  </div>
						  <div class="form-group">
						    <input type="email" class="form-control" placeholder="Email" id="email">
						  </div>
						  <div class="form-group">
						    <input type="company" class="form-control" placeholder="Company" id="company">
						  </div>
						  <div class="form-group">
						    <input type="sponsor" class="form-control" placeholder="Specify Advisor or Sponsor" id="sponsor">
						  </div>
						  <button type="submit" class="orange">Submit</button>
						</form>
					</div>	 
				</div>
			</div>
		</div>
		<hr style="border-top: 1px solid #939592;margin-bottom: 0;">
	</section> #}

  {# <section>
		<div class="container request-report">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<button class="btn_orange preview_btn">Download Free Preview </button>
				</div>
				<div class="col-md-6 col-sm-6">
					<button class="btn_orange report_btn">Download Full Report (Free)</button>					
				</div>
			</div>
		</div>
		<hr style="border-top: 1px solid #939592;margin-bottom: 0;">
	</section> #}

	{# <section>
		<div class="container sponsors-sec text-center">
			<div class="row">
				<h1>Sponsors</h1>
				<div class="col-md-4 col-sm-4">
					<img class="img-responsive" src="{{ base_path ~ directory }}/images/Layer-26.png">
				</div>
				<div class="col-md-4 col-sm-4">
					<img class="img-responsive" src="{{ directory }}/images/Layer-27.png">
				</div>
				<div class="col-md-4 col-sm-4">
					<img class="img-responsive" src="{{ directory }}/images/Layer-40.png">
				</div>
			</div>
		</div>
	</section> #}

	{{page.footer}}

	<section>
		<div id="footer">	
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-sm-9">
						<div class="col-md-3 col-sm-3">
							<ul>
								<li>Seller Profiles</li>
								<li>Valuations</li>
								<li>Deal Flow</li>
							</ul>
						</div>
						<div class="col-md-3 col-sm-3">
							<ul>
								<li>AI Enabled Markets</li>
								<li>Buyer Knowledge</li>
								<li>Investments</li>
								<li>Geography</li>
							</ul>
						</div>
						<div class="col-md-3 col-sm-3">
							<ul>
								<li>Contact Us</li>
								<li>Privacy Policy</li>
								<li>Board of Advisors</li>
							</ul>
						</div>
						<div class="col-md-3 col-sm-3">
							<ul>
								<li>Become a Sponsor</li>
								<li>Other Associated Sectors</li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-sm-3">
						<ul>
							<li>Request Report</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<div id="footer_bottom">
			<p class="text-center">&copy; 2018 AI EXECS - All Rights Reserved.</p>
		</div>	
	</section>
</body>
